/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "Default Layer";
                        bindings = <
   &kp TAB      &kp Q         &kp W         &kp F         &kp P          &kp B                 &kp J       &kp L        &kp U         &kp Y          &kp MINUS      &kp EQUAL
   &kp ESC      &ht LSHFT A 150   &ht LCTRL R 150   &ht LALT S 150    &ht LGUI T 150     &kp G                 &kp M       &ht LGUI N 150   &ht LALT E 150    &ht LCTRL I 150    &ht LSHFT O 150    &kp SQT
   &kp CAPS     &kp Z         &kp X         &kp C         &kp D          &kp V                 &kp K       &kp H        &kp COMMA     &kp DOT        &kp FSLH       &kp BSLH
                                            &kp GRAVE     &lt 1 SPACE    &lt 2 RET             &lt 2 RET   &lt 1 BSPC   &kp SEMI
                        >;
                };
                lower_layer {
                        display-name = "Lower Layer";
// Bluetooth keys: &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
                        bindings = <
   &kp TAB      &kp N1        &kp N2        &kp N3         &kp N4         &kp N5                &kp N6      &kp N7          &kp N8        &kp N9            &kp N0         &kp EQUAL
   &kp ESC      &ht LSHFT A 150   &ht LCTRL R 150   &ht LALT LBKT 150  &ht LGUI RBKT 150  &kp G                 &kp LEFT    &ht LGUI DOWN 150   &ht LALT UP 150   &ht LCTRL RIGHT 150   &ht LSHFT O 150    &kp SQT
   &kp CAPS     &kp Z         &kp X         &kp C          &kp D          &kp V                 &kp K       &kp H           &kp COMMA     &kp DOT           &kp FSLH       &kp BSLH
                                            &kp GRAVE      &trans         &lt 2 RET             &lt 2 RET   &trans          &kp SEMI
                        >;
                };

                raise_layer {
                        display-name = "Raise Layer";
                        bindings = <
   &trans     &trans       &trans       &trans       &trans       &trans            &trans  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &trans  &trans
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &trans  &kp C_PREV  &kp C_PP      &kp C_NEXT    &trans  &trans
   &trans     &trans       &trans       &trans       &trans       &trans            &trans  &trans      &trans        &trans        &trans  &trans
                                        &trans       &trans       &trans            &trans  &trans      &trans
                        >;
                };
        };
};
